<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="logo-hexagon-card.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Jarvis</title>
</head>
<body>
    <div> 
        <h1>les liste des endpointes</h1>
        <p> le page d'accueill : /</p>
        <p>pour le login : /login</p>
        <p>pour le nouveau utilisateur : /register </p>
    </div>
</body>
</html>